[2013-11-01 11:48] hleumas opened #1 "Remove args property"
Create a `Set` of _React_ recognized properties. These properties should be extracted and propagated directly to _React_ component constructor.

[2013-11-01 12:30] hleumas opened #3 "Create SyntheticEvent and derived classes and use them in place of callbacks in React."

[2013-11-01 16:06] #1 closed, assigned to nobody

[2013-11-01 16:07] hleumas opened #5 "Add all lifecycle methods."

[2013-11-16 13:20] #3 closed, assigned to nobody

[2013-11-16 13:21] #5 closed, assigned to nobody

[2013-11-16 14:28] jakuub opened #9 "React server"
Write server-side implementation of react.

[2013-11-16 14:29] jakuub opened #10 "Add children to properties in dart_client"

[2013-11-20 17:58] okruhlica opened #12 "Create HTML to React syntax converter tool"
Input would be a valid HTML, output would be a properly indented code in React syntax. This would speed up development a LOT.

(If you really want to, conversion from the other side).

[2013-11-30 09:11] #12 closed, assigned to jakuub

[2013-11-30 15:04] #10 closed, assigned to jakuub

[2013-12-03 10:03] hleumas opened #14 "Add String constants for all React attributes"
Writing strings by hand leads to errors. We should provide constants like

[code]

for all attributes recognized by React.

[2013-12-03 10:05] hleumas opened #15 "Rename newState to state and state to currentState."
It is really inconvenient to having setState called but state not changed. Let's do what was proposed here:

https://groups.google.com/forum/#!topic/reactjs/R61kPjs-yXE

[2013-12-03 16:24] hleumas opened #16 "Don't call jsRedraw before componentWillMount and after componentDidUnmount."
React does not like it, however, it is not easy to always assure that Component.setState won't be called after unmount.

[2013-12-03 19:33] #9 closed, assigned to jakuub

[2013-12-11 16:51] #16 closed, assigned to jakuub

[2014-06-24 10:36] jakuub opened #21 "Problem with integers and iterables"
https://github.com/matystl/react-example

[2014-07-08 09:31] ghost opened #22 "Using it?"
Some more information on how to use this library will be great and some small examples in the readme would make it easier to understand.

[2014-10-12 18:14] #15 closed, assigned to nobody

[2014-10-12 18:14] #14 closed, assigned to jakuub

[2014-10-12 18:15] #22 closed, assigned to jakuub

[2014-10-20 11:06] #21 closed, assigned to nobody

[2014-11-11 21:01] trentgrover-wf opened #24 "React 0.12 support"
Is there a plan to update this with more recent React API support?

[2014-12-11 11:04] #24 closed, assigned to nobody

[2015-01-29 21:48] maxwellpeterson-wf opened #28 "Cannot call setState() on component instance"
I'm trying to call setState on a component instance:

[code]

This throws an error to the console:
[code]

[2015-01-30 10:46] hleumas commented on #28
@maxwellpeterson-wf you cannot call `setState` on the result of component factory. Component factory you created, `myComponentInstance`, is just descriptor saying to React, here should be that kind of component with these props. But you do not have an access to the component itself and can't call its methods. You can use setState only inside the component itself.

[2015-01-30 10:46] #28 closed

[2015-01-30 20:22] maxwellpeterson-wf opened #29 "Missing React.unmountComponentAtNode()"
This dart wrapper seems to be missing [`React.unmountComponentAtNode(...)`](http://facebook.github.io/react/docs/top-level-api.html#react.unmountcomponentatnode)

Error:
[code]

[2015-01-30 20:23] maxwellpeterson-wf opened #30 "Missing this.getDOMNode()"
The component API seems to be missing [`this.getDOMNode()`](http://facebook.github.io/react/docs/component-api.html#getdomnode)

Error:
[code]

[2015-02-02 06:25] hleumas commented on #29
Thank you for reporting! We will take a look at this issue soon.

[2015-02-02 06:25] hleumas commented on #30
Thank you for reporting! We will take a look at this issue soon.

[2015-02-02 10:48] hleumas commented on #30
@matystl please publish on pub and then close these issues.

[2015-02-02 11:03] matystl commented on #30
implemented in 0.5.2 and published on pub

[2015-02-02 11:03] #30 closed

[2015-02-02 11:03] matystl commented on #29
implemented in 0.5.2 and published on pub

[2015-02-02 11:03] #29 closed

[2015-02-03 22:34] trentgrover-wf opened #33 "suggestions / examples for testing React dart code?"
Outside of Dart, I usually use the react-addons lib for testing react code.  Is there anything comparable available within the Dart environment?  Do you have any suggestions as to how best to test react-dart code?

[2015-02-04 09:23] hleumas commented on #33
You can include `react_test` and then call `setTestConfiguration()`. This way your react components will render into `MarkupDescription` instead of real components. Then you can manually create an instance of component and initialize it through `initializeComponent` and finally, call `render` manually and check the output.

It is far from being easy to use. If you would be willing to improve it an

[2015-02-04 09:23] #33 closed

[2015-02-25 07:31] trentgrover-wf opened #35 "Any way to type a React Component for passing around in Dart code"
If I have created a react component in Dart via the normal mechanism:
[code]
and then want to keep track of a particular instance of that component in another Dart class via something like this:
[code]
I get the following exception:
[code]
Is there any way to get this Dart type to work?  My code functions just fine if I revert to `var _toolbar;`, but I'm trying to be explicit with strong types eve

[2015-02-26 12:12] hleumas commented on #35
@trentgrover-wf call to `DynamoToolbar({})` does not create instance of `react.Component`. It is just some descriptor of component. React needs to create actual instance only if it realizes there are some differences in virtual dom.

[2015-02-26 12:12] #35 closed

[2015-02-26 17:07] basheps commented on #33
'render into MarkupDescription instead of real components'... Can you give an example of this.

[2015-04-12 23:40] evanweible-wf opened #39 "SyntheticMouseEvent is missing `dataTransfer` property"
Drag and drop mouse events have a `dataTransfer` property that can be used to access a `FileList` describing the files that may have been dropped onto an element. The `SyntheticMouseEvent` in React includes this information, but it's missing from the `SyntheticMouseEvent` class in this repo.

https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer

[2015-04-13 00:21] hleumas commented on #39
@evanweible-wf thank you for pointing this out. Could you please prepare a patch?

[2015-04-14 00:17] evanweible-wf commented on #39
https://github.com/cleandart/react-dart/pull/40

[2015-04-14 09:48] #39 closed

[2015-04-14 09:49] hleumas commented on #39
@evanweible-wf Thank you for the patch! It is published on pub right now!

[2015-04-22 20:39] cgarciae opened #41 "Benefits of State?"
I have this component which uses the constructor to fetch some data, then updates its fields. I've seen the `state` property but I don't see how its usefull (I am new to React) since I prefer typed Dart fields. So in this example you'll see that after I set the data, I have to call `setState({})` and notice how I pass and empty map just to force React to re-render.

[code]
Another question is how

[2015-04-22 20:49] hleumas commented on #41
@cgarciae react is trying to maintain the invariant, that the `render` method is dependent only on `props` and `state`. This enables powerful things later, especially in combination with immutable data structures and should component update.

I recommend reading more about React from the official sources: https://facebook.github.io/react/index.html

[2015-04-22 20:49] #41 closed

[2015-04-23 11:40] matystl commented on #41
@cgarciae My view how to use state.

First of all if you need to access to field from outside than having it inside of component is not good idea. You shoud have it declared outside and pass it in props.

Secondly on difference of state and local variables. Clear benefit of keeping variables in state is that if you change somehting than redraw is triggered automaticaly. If you keep it in local var

[2015-05-01 14:12] Pajn opened #43 "is it possible to reuse JS components?"
Reusing Javascript components would be great and as this just is a wrapper around ReactJS I would expect it to be possible. However I can't find any documentation or obvious way to do it so I would like to know if it's possible?

If it isn't do you know if it would be a hard thing to implement?

[2015-05-03 18:02] hleumas commented on #43
@Pajn it should not be a great problem to reuse javascript components. If you have any experience with using `dart:js` library, it should work this way:

    import 'dart:js';
    import 'package:react/react.dart';

    class MyComponent extends Component {
        render() => context['customJSComponent'].apply( // calling js function
        [ // you need to provide List of arguments
          ne

[2015-05-03 18:02] #43 closed

[2015-05-03 19:07] danschultz commented on #43
It'd be nice if this package provided a way to do this, without having to interact directly with JS interop.

[2015-05-03 19:36] hleumas commented on #43
@danschultz totally agree with you! Do you think you could provide some proposal or patch?

[2015-05-03 19:40] danschultz commented on #43
@hleumas sure, I'll file a ticket with a proposal for people to review. Do you think that having a high level `createElement(String type, Map props, List children)` would be a good api?

[2015-05-03 19:48] hleumas commented on #43
@danschultz I am just not sure about the `type` argument. This automatically implies the component is in the global namespace. It would be best if you created separate issue for this and describe also how should it work with modules.

[2015-05-03 19:54] danschultz commented on #43
@hleumas I was using the API for `React.createElement` found [here](https://facebook.github.io/react/docs/glossary.html), but I see the problem if your components are in modules. I'll create a ticket once I get some time, unless someone beats me to it :)

[2015-05-03 20:03] hleumas commented on #43
@danschultz thanks:)

[2015-05-12 01:18] sethladd opened #46 "Example of TodoMVC with React-Dart ?"
Does this exist?

If not, where is the best example of React-Dart usage?

Thanks!

[2015-05-12 08:25] hleumas opened #47 "Upgrade to v 0.13.3 of React"

[2015-05-12 08:25] danschultz commented on #47
:+1:

[2015-05-12 08:26] hleumas opened #48 "Add findDomNode method"
Add equivalent of React `findDomeNode()` method. See more: https://facebook.github.io/react/docs/working-with-the-browser.html#refs-and-finddomnode

[2015-05-12 09:40] hleumas commented on #46
Best example is currently the Readme. TodoMVC would be great, but does not exist yet.

[2015-05-12 13:13] trentgrover-wf opened #49 "Performance improvements"
We're seeing significant general performance degradation when moving JS based react components to Dart based react components.  We will do some performance profiling to trace the most likely drain points, but @hleumas do you have any ideas for how to improve performance?

[2015-05-12 13:17] trentgrover-wf commented on #46
There's an oldish example here:
http://astashov.github.io/blog/2014/10/17/dart-apps-with-unidirectional-flow-and-persistent-data-structures/
https://github.com/astashov/todomvc/tree/master/labs/architecture-examples/react-dart-uniflow/web/dart

[2015-05-12 13:45] hleumas commented on #49
@trentgrover-wf I suspect dart:js interoperability layer as the cause, but I am not sure. If you could somehow improve the overall performance, it would be really awesome!

[2015-05-12 17:17] tomaskulich commented on #46
There is also some example in /example directory. It's not a Todolist app, just a very simple frontend to Google Geocode service.

[2015-05-13 23:08] greglittlefield-wf commented on #47
Yay, glad to hear about 0.13 support!

I've been preemptively playing around with 0.13 along with react-dart a bit, mostly due to [0.13's addition of `cloneElement`](https://facebook.github.io/react/blog/2015/03/03/react-v0.13-rc2.html#react.cloneelement).

Are there any plans to include some of the [top-level API methods](https://facebook.github.io/react/docs/top-level-api.html) like `cloneElemen

[2015-05-18 10:37] matystl commented on #47
right now we did findDOMNode(https://github.com/cleandart/react-dart/pull/50) implementation. But i agree that having cloneElement would be nice to add.

[2015-05-18 10:37] matystl commented on #48
fixed in https://github.com/cleandart/react-dart/pull/50

[2015-05-18 10:37] #48 closed

[2015-05-21 11:17] jonaskello commented on #49
I'm also trying to use JS based react components inside Dart. @trentgrover-wf: Are you moving custom components or something available at http://react-components.com ?

[2015-05-22 04:14] johnmccutchan opened #51 "Styling example"
I'm wondering if there are any samples in Dart that show styling?

[2015-05-22 09:56] hleumas opened #52 "Add cloneElement"
Moved from #47 discussion

[2015-05-22 09:57] hleumas commented on #47
Closing this issue now. Let's move the discussion about `cloneElement` support to #52 .

[2015-05-22 09:57] #47 closed

[2015-05-22 09:57] #46 closed

[2015-05-22 10:01] hleumas commented on #51
@johnmccutchan what's exactly on your mind? You can style your components using CSS styles. Or are you referring to something like this? https://speakerdeck.com/vjeux/react-css-in-js

[2015-05-22 13:43] johnmccutchan commented on #49
@trentgrover-wf Could you quantify the slow down? What operations are slower?

Are there benchmarks that the react-dart team runs?

[2015-05-22 13:44] johnmccutchan commented on #51
I'm new to React (in general) so I'm just looking for some larger illustrative examples of React in Dart so I can get the flavour.

That CSS in JS talk was interesting, thanks.

[2015-05-22 13:49] trentgrover-wf commented on #49
@johnmccutchan I'm not aware of any routine benchmarks to use for comparison, but I'll share some more detailed observations and sample code later today.  Unfortunately most of the analysis that I'm able to do is implement identical simple React components in JS and Dart, then compare rendering frame rates and JS stack traces.

[2015-05-22 14:08] matystl commented on #51
currently you can use `className` and `style` property on components. . You may be interested to some articles to what is happening in javascript world with styling and react components but i am not aware that somehing similar is hapening in dart world:
https://medium.com/seek-ui-engineering/the-end-of-global-css-90d2a4a06284
https://github.com/js-next/react-style
https://github.com/jsstyles/jss
h

[2015-05-23 00:38] trentgrover-wf commented on #49
@johnmccutchan I created a repo with a README detailing the issues I'm seeing.  Most of the performance degradation appears to be in Dart JS interop overhead in the React render cycle.  Any ideas?

[2015-05-23 03:18] sethladd opened #53 "use named parameters?"
What do you think about:

[code]

instead of

[code]

?

[2015-05-24 14:45] hleumas commented on #53
Hi @sethladd,

I am not sure what are the benefits of this. I see at only as a little bit different syntax and that is not enough to outweight the cons I see:

1. In React, you can easily access all of your props as a simple `Map` structure. This is convenient because it allows you to manipulate them using standard map operations and through functions operating on top of `Map`. I actually dislike

[2015-05-24 14:47] hleumas commented on #49
@trentgrover-wf Thank you very much for creating the benchmark. Maybe somebody from `dart:js` team would be able to help. I will ask @sethladd what does hi think about it.

[2015-05-26 20:00] sethladd commented on #53
The benefit would be better code completion and static warnings when you misspell something.

Compare:

[code]

with

[code]

The second one will have a warning, and you'll be able to code complete the options.

[2015-05-26 20:28] wstrange commented on #53
+1  :-)

On Tue, May 26, 2015 at 2:00 PM Seth Ladd <notifications@github.com> wrote:

[2015-05-27 00:04] justinfagnani commented on #49
Ok, I took a quick look at the benchmark, specifically Dart-2.dart, and have some initial observations.

First, there's some incredibly fine-grained interop going on here - I see dozens of calls into Dart functions from JS per frame, usually leading to corresponding calls from Dart->JS. Crossing in either direction is potentially expensive, because all arguments and return values need to be conver

[2015-05-27 03:59] sethladd commented on #49
@justinfagnani thank you very much for the analysis!

[2015-05-27 04:00] sethladd commented on #49
cc @kevmoo @jacobr

[2015-05-27 08:10] hleumas commented on #53
@sethladd thanks for pointing out the benefits. Unfortunately, I don't see way to overcome obstacles I mentioned in previous comment.

[2015-05-27 09:06] hleumas commented on #49
@justinfagnani Thank you very much for such a detailed analysis!

[2015-05-27 09:09] hleumas commented on #49
Link to ongoing discussion on dart-misc:
https://groups.google.com/a/dartlang.org/forum/#!topic/misc/_tQ_Jh69xRg

[2015-05-27 16:03] maxwellpeterson-wf opened #54 "Better error for forgotten setConfiguration call"
If the consumer forgets to call `setClientConfiguration()` or `setServerConfiguration()` the error looks something like this:

[code]

It would be great to have a more descriptive error when this happens, if at all possible. I will look into contributing this if no one has any immediate ideas for improvement.

[2015-05-27 16:34] hleumas commented on #54
@maxwellpeterson-wf Thanks for suggestion! This would really be helpful. It would be awesome if you could provide some patch!

[2015-06-01 05:49] greglittlefield-wf commented on #52
Not sure how much work has been done on this, but I finalized a wrapper for `cloneElement` for usage in a project, with unit tests, if y'all are interested: https://gist.github.com/greglittlefield-wf/549ff3021624d7599492.

Feel free to incorporate any of that work. I'd also be more than happy to rework it into the `react_client.dart` code and PR it myself.

[2015-06-07 13:31] jonaskello commented on #53
+1 for the typed version. I am currently working on making a typed Dart wrapper for [react-bootstrap](http://react-bootstrap.github.io/). For this I am using the approach suggested by @sethladd. It is a work in progress but for reference, the repo is [here](https://github.com/jonaskello/react_bootstrap). The main benefit is that you can easily check what props are available. In theory you should b

[2015-06-07 21:17] jonaskello opened #56 "isMounted"
Is there a way to check isMounted? Specifically I am trying to follow the pattern where you check isMounted to determine if the result of an async call should handled, as documented [here](https://facebook.github.io/react/tips/initial-ajax.html). I could not find isMounted, either I am looking in the wrong place or it is not exposed to Dart?

[2015-06-08 00:37] matystl commented on #56
You can use better pattern. I will asume that your ajax library return Future than you can do this:
[code]
That way you are not relying that code inside parsing result of ajax have to check if comoponent is still mounted or not.

[2015-06-08 06:20] jonaskello commented on #56
You're absolutely right. This pattern is much better. In fact I'm already using a subscription like this. I guess I was just to tired to realize that the isMounted check becomes redundant in this case. Thanks for setting me straight :-).

[2015-06-08 06:20] #56 closed

[2015-06-19 21:14] greglittlefield-wf commented on #35
Semi-related to this: we ran into a scenario in which we want to validate that a component is of a certain type. With the addition of `ReactComponentFactoryProxy`, this can now be achieved by comparing the `type` property of the JsObject with the `reactComponentFactory` on the component factory. (Similar to what's used in [react_test_utils.dart](https://github.com/cleandart/react-dart/blob/f253ea1

[2015-06-30 08:53] #51 closed

[2015-07-27 02:32] greglittlefield-wf opened #60 "Support nested Lists of children"
In JS, React renders `children` that consist of nested arrays by flattening them:
[code]

This doesn't work with nested Dart Lists, but it does work if JsArrays are specified instead:

[code]

Perhaps react-dart should deep-convert nested Lists in `children` to JsArrays. Thoughts?

[2015-07-27 07:53] hleumas commented on #60
Yeah, that sounds reasonable. I will be really grateful for PR!:)

[2015-07-27 15:17] greglittlefield-wf commented on #60
Cool! I'll have a PR within a couple days, then.

[2015-07-28 18:27] grumpy opened #61 "Drag n drop bugs, FireFox and IE"
In FireFox there is an error in syntheticDataTransferFactory, because the arrays files and types can be null instead of zero length.
In IE there is an error when dragging items from outside the browser, because IE forbids access to effectAllowed in this case.

I have a quick PR that prevents both of these errors.

I also wanted to discussion the possibility of changing the events, by changing all

[2015-07-28 18:28] grumpy commented on #61
See #62

[2015-08-17 07:03] greglittlefield-wf commented on #60
Way to overestimate again, @greglittlefield-wf...

Haha in all seriousness, I did get an implementation for this hacked together over the weekend that I'm pretty happy with.

I don't currently have anything clean enough to commit, though, and I still need to play with it a little to optimize the performance.

I'll probably have it finalized and ready for PR sometime this week.

[2015-08-19 19:22] trentgrover-wf opened #68 "Flux pattern"
We've got a reflux (https://github.com/reflux/refluxjs) like implementation of the Flux pattern in Dart that we're open sourcing (1.0 pub release in the next couple of days):
https://github.com/Workiva/w_flux

Any interest in mentioning it in your readme somewhere?

Do react-dart users have other pattern libs that they're using?

[2015-10-07 23:50] greglittlefield-wf commented on #60
So, I realized that my implementation was missing the key remapping that was present in `React.Children.Map`.

Any objections to including similar utilities that properly deal with nested children, like those present in React JS? https://facebook.github.io/react/docs/top-level-api.html#react.children

(Also, sorry, kind of forgot about this.)

[2015-10-19 05:25] davenotik opened #72 "Could not get the geocodes example working"
Opened in Dartium, blank page, no serious console errors.

file://.../react-dart/example/geocodes/geocodes.html

[2015-10-24 21:40] Aetet opened #73 "Js bindings with new js-interop module"
After 1.13 dart-lang release, there's new js interop API - https://pub.dartlang.org/packages/js . It will be more handy to use this API.

[2015-10-25 21:52] danschultz commented on #73
I've created an experimental package to test out the new `@JS` interop and React. If you're interested, you can check out the package here: https://github.com/danschultz/react.dart.

[2015-11-17 23:46] johnbland-wf opened #77 "Add repo to CI"
This repo needs a CI tied to it. I'd happily do it, but am not a maintainer so I can't do a full integration.

[2015-11-17 23:49] johnbland-wf opened #78 "Remove unittest package and use test"
`unittest` is deprecated: https://pub.dartlang.org/packages/unittest.

[2015-11-23 17:16] johnbland-wf commented on #73
1.13 is released.

[2015-11-30 17:19] maxwellpeterson-wf commented on #68
+1

[2016-01-04 20:46] greglittlefield-wf opened #79 "Upgrade to v0.14.x of React JS"

[2016-02-19 23:10] clairesarsam-wf commented on #79
One of the major changes to [ReactJS 0.14](https://facebook.github.io/react/blog/2015/10/07/react-v0.14.html#major-changes) is the separation of the API into two packages, `react` and `react-dom`. In upgrading, `react-dart` will either need to mirror that division or keep the same API it has currently.

In the first scenario, `react.dart` would split into `react.dart`, and `react_dom.dart` (contai

[2016-02-21 07:02] trentgrover-wf commented on #79
I would vote for the first scenario with an interim deprecation period.

If it's possible to introduce the new API while also maintaining a deprecated, but still backward compatible version of the API, we'd get the best of both worlds

[2016-02-22 15:39] maxwellpeterson-wf commented on #79
I agree with Trent, the first option sounds good.

[2016-02-22 17:26] greglittlefield-wf commented on #79
First option sounds good to me as well—keeping a deprecated version of the old API will make the upgrade go a lot smoother.

[2016-02-22 17:29] greglittlefield-wf commented on #79
Note that `renderToString`/`renderToStaticMarkup` should probably go into a separate library, like `react_dom_server.dart`. (See [ReactDOMServer](https://facebook.github.io/react/docs/top-level-api.html#reactdomserver).)

[2016-02-22 17:33] travissanderson-wf commented on #79
+1

[2016-02-22 17:45] clairesarsam-wf commented on #79
Thanks for the input everybody, splitting into separate libraries overlapped with a deprecation period it is. :+1:

[2016-03-04 15:51] aaronlademann-wf commented on #79
@trentgrover-wf this issue can be closed.

[2016-03-04 17:43] #79 closed

[2016-03-30 18:27] greglittlefield-wf commented on #49
Just made a PR that switches over to use [the new JS interop](https://pub.dartlang.org/packages/js) and makes other optimizations for performance improvements: https://github.com/cleandart/react-dart/pull/88.

[2016-03-31 13:35] aaronlademann-wf commented on #73
@Aetet check out #88

[2016-03-31 13:38] aaronlademann-wf commented on #54
@maxwellpeterson-wf - @clairesarsam-wf implemented this as part of her work to upgrade to ReactJS `0.14.x` (#86) - https://github.com/cleandart/react-dart/pull/86/files#diff-73103ae4da65e607707d6ee86ee1d171R358

@trentgrover-wf I believe this issue can be closed.

[2016-03-31 13:40] aaronlademann-wf commented on #53
@sethladd @wstrange @jonaskello

Workiva's UI Platform Team (@greglittlefield-wf specifically) has developed an API for strongly typed React-dart components, and we will be open-sourcing it soon!

[2016-03-31 14:46] aaronlademann-wf commented on #52
@trentgrover-wf @hleumas this issue can be closed.

[2016-03-31 14:47] aaronlademann-wf commented on #49
@trentgrover-wf this can be closed when #88 is merged, IMO.

[2016-03-31 14:48] aaronlademann-wf commented on #60
@greglittlefield-wf does the work in #88 take care of this?

[2016-03-31 16:27] greglittlefield-wf commented on #52
@aaronlademann-wf This actually still hasn't been implemented in `react-dart`; only in one of our projects.

I'll plan on making a PR to implement this.

[2016-03-31 17:29] greglittlefield-wf commented on #60
@aaronlademann-wf Didn't think of that; yup, it does! This issue can be closed when that merges.

[2016-04-05 13:09] #54 closed

[2016-04-11 05:17] #49 closed

[2016-04-22 16:53] greglittlefield-wf opened #93 "Support setState callbacks"
ReactJS's [`setState`](https://facebook.github.io/react/docs/component-api.html#setstate) accepts an optional callback as the second parameter which gets called when the state has been updated and the component is rendered.

We should support this in Dart components.

[2016-04-27 15:17] aaronlademann-wf commented on #73
@Aetet @danschultz react-dart now uses the new `@JS` interop (via merge of #88).

@trentgrover-wf this issue can be closed.

[2016-04-27 15:17] aaronlademann-wf commented on #60
@trentgrover-wf this can be closed.

[2016-04-27 15:22] #73 closed

[2016-04-27 15:23] #60 closed

[2016-07-28 17:36] DanTup commented on #53
One of the main attractions to Dart is types, so I'm surprised you don't miss them here! If I was going to use React in Dart I was absolutely want strong typing of Props etc.

One of my colleagues created bindings for us to use React from Bridge.NET (a C#-to-javascript transpiler):

https://github.com/ProductiveRage/Bridge.React

There's an example on that page; the Props classes are nested within

[2016-07-29 22:19] greglittlefield-wf commented on #93
Closing; fixed by #102

[2016-07-29 22:19] #93 closed

[2016-08-07 00:10] kasperpeulen commented on #53
@aaronlademann-wf Are you still planning to open source it? I'm curious!

[2016-08-09 17:33] aaronlademann-wf commented on #53
@kasperpeulen @DanTup it hasn't been prioritized, but it is still planned, yes.

[2016-08-22 21:04] nickolaswilson-wf opened #104 "Inability to call setData function prevents drag and drop from working in Firefox"
It seems that Firefox requires the `MouseEvent.dataTransfer.setData` function to be called for element drag and drop to work. I have some code that works perfectly in Chrome however does nothing in Firefox. If I call `event.nativeEvent.dataTransfer.setData('text/plain', 'test);` inside a buttons onDragStart handler, everything works as expected in Firefox. Being able to set other properties and ca

[2016-09-19 19:33] greglittlefield-wf opened #105 "Upgrade JS to React 15.3.2"
We should upgrade the React JS version from 15.2.1 to [15.3.2](https://github.com/facebook/react/releases/tag/v15.3.2).

There are various bug fixes and development build performance improvements that we can benefit from by upgrading.

[2016-10-19 21:39] aaronlademann-wf commented on #53
@kasperpeulen @DanTup @sethladd @wstrange @jonaskello @hleumas

@greglittlefield-wf will be speaking at [Dart Summit 2016](https://events.dartlang.org/2016/summit/) in Germany (Thursday, October 27th) about "Getting the most out of React in Dart".  As part of that, he'll be announcing our framework for building statically-typed React UI components with Dart _(new OSS repo)_.

The wait is almost ov

[2016-10-24 22:46] aaronlademann-wf commented on #53
@kasperpeulen @DanTup @sethladd @wstrange @jonaskello @hleumas

The wait is over.  Workiva's Dart library for building statically-typed React UI components is public, and available on pub.dartlang.org!

https://workiva.github.io/over_react/

[2016-10-24 23:58] sethladd commented on #53
Congrats!

[2016-12-08 06:41] #53 closed

[2016-12-15 21:03] jtrunick opened #109 "Question - Material UI example"
Is it possible to use a component from the Material UI components? If so, is there an example?

(didn't know where to post this question)

[2016-12-19 19:53] greglittlefield-wf commented on #105
Fixed by #108

[2016-12-19 19:53] #105 closed

[2016-12-19 19:55] greglittlefield-wf commented on #109
Yes, it is possible to use JavaScript React components, though it's not very straightforward at this time... We can use this issue to track the documentation/support around that.

There was some code written to use JS components in an older version of react-dart, but that needs to be updated. I'll see if I can get some code posted early this week.

[2017-01-02 06:54] greglittlefield-wf commented on #109
Sorry for the delay! I blame the holidays 😄.

Got together a PR to add support and an example for using JS components with react-dart: https://github.com/cleandart/react-dart/pull/112. A couple tests to add still, but it should be about done

Also, I went ahead and ported one of the Material-UI examples to use react-dart! You can see that here: https://github.com/greglittlefield-wf/material-ui-web

[2017-01-02 07:03] #72 closed

[2017-01-10 21:44] jacehensley-wf commented on #78
@greglittlefield-wf Can this be closed now?

[2017-01-10 23:29] greglittlefield-wf commented on #78
Yessir! FIxed in #110

[2017-01-10 23:29] #78 closed

[2017-02-17 21:26] jhochman opened #116 "Access react-dart components from JS?"
Is there a way to access react-dart components created in Dart from JavaScript?

[2017-08-22 13:59] sclee15 commented on #116
I am curious about this too..

[2017-08-22 23:45] greglittlefield-wf commented on #116
So sorry for the delayed response @jhochman; I should really check back on the issues page more frequently.

There's not currently an established pattern for exposing react-dart components for use in JavaScript, though something like that could definitely be possible in the future.

Just curious, what are your use cases for this?

[2017-09-19 12:21] jkleiser opened #131 "react 4.0.0 uploaded Aug 28, 2017?"
This page https://pub.dartlang.org/packages/react#pub-pkg-tab-versions says that react 4.0.0 was uploaded Aug 28, 2017, while react 3.6.0 was uploaded Sep 18, 2017. It should probably have been the other way around.

[2017-09-19 15:22] greglittlefield-wf commented on #131
There were a couple things we needed in the 3.x line (we couldn't move to 4.x yet), so we published 3.x releases with plans to also add that functionality to the 4.x line.

That's on my agenda this week; sorry I haven't gotten to it sooner

[2017-10-04 17:12] #131 closed

[2017-10-12 22:05] MartinOrtiz opened #133 "Performance?"
I like React, I also like Dart.......

I was wondering about the performance of ReactNative+Dart VS ReactNative+JS

Of course, I know that Dart is converted to JS after all is said and done.....

But I was wondering if RN+Dart is performant with RN+JS? I am talking about any kind of significance hit. If one is slightly faster than the other, I don't care.

I certainly would enjoy doing ReactNative

[2017-10-12 22:19] greglittlefield-wf commented on #133
Unfortunately, this project doesn't integrate with ReactNative; it only supports server-side and client-side rendering of DOM. And in that regard, performance is slower than React with JS, but acceptable (see latest perf data in https://github.com/cleandart/react-dart/pull/95).

If you're wanting to do something like ReactNative with Dart, then I think [Flutter](https://flutter.io/) is definitely

[2017-10-12 22:44] MartinOrtiz commented on #133
Thanks for info...

I am looking at Flutter, and playing around with it a lot, and like it...

I am new to it, but one thing I am not sure about.....it has a React Native flavor to it, but I think it is inspired by React Native but it is NOT React Native????

I've been playing around with Flutter for the past two weeks, and still don't know the answer to that question....is it React Native + Dart?

[2017-10-12 22:50] greglittlefield-wf commented on #133
Yeah, that's correct.

And it's still possible to access native APIs, though I'm not sure how it compares to React Native. More info on that in these links:
- https://flutter.io/faq/#can-i-access-platform-services-and-apis-like-sensors-and-local-storage.
- https://flutter.io/platform-channels/ (this article has a great in-depth explanation)

[2017-10-12 22:54] MartinOrtiz commented on #133
Thank you very much for all the helpful information!!

Great links!

[2017-10-12 22:56] greglittlefield-wf commented on #133
Sure thing, glad to help!

Closing this issue since it seems that this project won't be able to help. Best of luck in the landscape of React-like frameworks for native apps, though! 😃

[2017-10-12 22:56] #133 closed

[2017-12-30 12:49] montyclt opened #137 "React v16"
React v16 was released on Sept 2017.

There are plans to update?

https://reactjs.org/blog/2017/09/26/react-v16.0.html

[2018-03-24 05:57] jestan commented on #109
Sorry to comment on old issue.
Is there any plan to support this feature?
It will be very useful to reuse existing reactjs components in react-dart/over_react

[2018-04-11 19:33] cbazza opened #140 "Support DSX which is like JSX"
I think DSX could transform this project into a perfect version of React for Dart !!!

Right now DSX is targeting Flutter but it could be easily modified to target this project and it would look exactly like React for DOM, which I think people would love it.

If you like this I would 'thumbs up' on the following ticket:
https://github.com/flutter/flutter/issues/15922

What to see what DSX looks fo

[2018-05-07 15:01] aaronlademann-wf commented on #109
@greglittlefield-wf ^

[2018-05-07 15:03] aaronlademann-wf commented on #137
@montyclt @nsreenath to clarify... it is on our roadmap, but our priority right now is ensuring that this library will work with the upcoming Dart 2 SDK.

We are wary of making those changes - AND implementing support for the ReactJS 16 API simultaneously.

[2018-06-18 08:01] arun-sahadevan opened #145 "Showing 404 : Could not find asset test in package react."
Error message showing on cloning the repo for the first time.
![capture3](https://user-images.githubusercontent.com/39547347/41524676-e82cc45a-72fb-11e8-92ac-45bf06a300a2.PNG)

[2018-07-14 03:15] leocavalcante opened #147 "Uncaught TypeError: Cannot read property 'Symbol(dartx.addAll)' of null"
Calling `redraw` on a component without `state`, then `_nextState` remains `null`.

[2018-07-14 03:49] #147 closed

[2018-10-01 13:04] aloisdeniel commented on #137
Any news ?

Would love to share code with Flutter, but I need Dart 2 support. :(

[2019-01-04 03:41] graphicbeacon commented on #137
Hey friends, love the work you've done so far on this. Any news on this update?

[2019-01-09 15:08] aaronlademann-wf commented on #137
@aloisdeniel react-dart is fully compatible with Dart 2 as of [version `4.5.0`](https://github.com/cleandart/react-dart/pull/150).

@graphicbeacon work for the React 16 upgrade will begin this quarter - but will likely not reach production until late in the quarter / early q2 (April-ish).

We have some big improvements coming to how props / state maps are handled as well - so that the ReactJS dev

[2019-01-09 15:30] graphicbeacon commented on #137
@aaronlademann-wf Thanks for clarifying. Really looking forward to this.

[2019-03-21 14:04] aaronlademann-wf commented on #109
@jestan @GiovanniL19 @Sach97 @ayushin @jtrunick I believe this will be supported / documented in the upcoming react-dart version 5.0.0 _(support for ReactJS 16)_ via #160.

[2019-04-13 16:10] knopp commented on #137
This would be very nice to have. We're starting a new project and would very much like to do it with React 16. Are there any updates on possible timeline?

[2019-05-10 19:28] brad811 opened #184 "setClientConfiguration fails for README example"
The `setClientConfiguration` call is failing for me, so now I'm trying the example from the README and still getting the error: `Uncaught Error: Exception: react.js and react_dom.js must be loaded.`

I have the html file and dart file copy-pasted from the README.
Here is my `pubspec.yaml`:
[code]

I've run `pub get`.
I'm serving my app with `webdev serve`.
Dart version: `Dart VM version: 2.3.0 (Fr

[2019-05-10 21:38] evanweible-wf commented on #184
Hi @brad811, we ran into a similar issue when we upgraded to `build_web_compilers ^2.0.0`. We opened an issue with the build package here:
https://github.com/dart-lang/build/issues/2266

but it is apparently it is actually an issue with the dev compiler:
https://github.com/dart-lang/sdk/issues/36912

In the meantime, I believe either downgrading to Dart 2.2.0 or downgrading to build_web_compilers

[2019-05-10 23:51] brad811 commented on #184
Hey @evanweible-wf, thanks so much for the reply! Downgrading build_web_compilers did allow me to get past that error. (However I ran into numerous other issues trying to upgrade my project to dart 2, so decided to stick with 1 for now, haha)

[2019-05-10 23:51] #184 closed

[2019-11-05 19:20] aaronlademann-wf commented on #137
React 16 is supported in 5.0.0-alpha.0 / 5.0.0-alpha.1, and will be released as 5.0.0 stable today @knopp @graphicbeacon @montyclt.

[2019-11-05 19:20] #137 closed

[2019-11-05 19:21] #68 closed

[2019-11-05 19:21] #77 closed

[2019-11-05 19:21] #52 closed

[2020-03-01 08:59] wuquanyao opened #254 "How to use react router in dart?"
Help!!!  How to use router in react-dart?

[2020-03-04 18:00] aaronlademann-wf commented on #254
@wuquanyao you would have to write a [JS interop](https://dart.dev/web/js-interop) for it.

[2020-04-17 06:31] barriehadfield commented on #254
@aaronlademann-wf it might be a bit late for you, but I have successfully implemented React Router with this library which I will document here for anyone else who needs this info.

+ Import ReactRouter (I am using webpack) and creat JS objects inside a wrapper
[code]
+ Create a `react_router.dart` which creates the Dart instances of the ReactRouter Components
[code]
+ Use ReactRouter in your code

[2020-04-17 06:40] barriehadfield opened #257 "How to use React Hooks?"
React Hooks are becoming more prevalent and supported by React >16.8.0 onward.

After much experimentation, I have mot found a way to work with hooks using `react-dart`.

In the example below `useHistory()` is a hook in the latest version of ReactRouter.

[code]

How would it be possible to implement the code above using react-dart?

[2020-04-17 15:47] aaronlademann-wf commented on #257
@barriehadfield hooks support is [coming in version 5.4.0](https://github.com/cleandart/react-dart/milestone/3?closed=1) which we plan to release in the next couple of week or so!

[2020-04-17 15:49] aaronlademann-wf commented on #254
@barriehadfield have you published your library to pub?

[2020-04-17 17:44] barriehadfield commented on #254
Hi @aaronlademann-wf - the solution does not warrant a library as it is as simple as stated above. Your wonderful library made it really easy.

I would be more than happy to add to your example collection and issue a PR if that would be useful?

[2020-04-17 17:45] barriehadfield commented on #257
Fantastic news! Thank you. I will look out for that.

I have to congratulate you on a truly excellent library which has been a delight to discover and learn.

[2020-04-17 20:08] aaronlademann-wf commented on #257
@barriehadfield thanks... if you think this is great... you'll love our [over_react](https://workiva.github.io/over_react/) library even more!  It builds atop this one to make the authoring experience much nicer...

[2020-04-17 20:11] aaronlademann-wf commented on #254
I'll leave it up to you if you want to contribute an example.

As far as `webdev` 404 handling is concerned... that's why our very own @evanweible-wf wrote [webdev_proxy](https://pub.dev/packages/webdev_proxy)! Its works great - we use nothing but the proxy within our internal apps at Workiva.

[2020-04-18 05:00] barriehadfield commented on #254
OK great. I will wait for your new release and issue a PR thereafter to avoid any potential merge conflicts.

The examples were instrumental in getting me started, so I think having ReactRouter covered would be good.

webpev_proxy is key! Thank you @evanweible-wf

[2020-05-04 11:50] barriehadfield commented on #257
Hi @aaronlademann-wf do you have an idea when your 5.4.0 release is likely? Finding React hooks all over the place these days!

[2020-09-16 17:04] Atom735 commented on #257
Hello @aaronlademann-wf, where the Hooks API? How i can use it? I try to use Material-UI from dart-react, and i had a errors with use func `makeStyles()`. How i can use it?

[2020-09-19 19:11] Atom735 opened #279 "How to use style generator func in class dart component?"
[**I tryed to rewrite**](https://github.com/Atom735/dart-mui/blob/master/example/sign-in.dart) [Sign-in template](https://github.com/mui-org/material-ui/blob/master/docs/src/pages/getting-started/templates/sign-in/SignIn.js) from [Material-UI][material] with dart... And i had a problem with **JSS**... [Material-UI][material] had a function `makeStyles`, who return function of style generator. I ne

[2020-09-23 20:25] aaronlademann-wf commented on #257
@Atom735 the React hooks exposed by this library can be found here: https://github.com/cleandart/react-dart/blob/master/lib/hooks.dart

Trying to make use of `makeStyles` within the Mui library is a different animal altogether. That would require a JS interop layer to handle the css-in-js engine that the Mui JS components make use of.

The hooks in this library allow you to write React function co

[2020-09-23 20:30] aaronlademann-wf commented on #279
`makeStyles` is a custom hook within the Mui JS library and is outside the scope of what this library supports. It would require a JS interop layer to handle the css-in-js engine that the Mui JS components make use of.

The hooks in this library allow you to write React function components in Dart. They do not make it so that you can make use of hooks written in JS components.

[2020-09-23 20:30] #279 closed

[2021-03-03 21:39] shivamkaushik14 opened #307 "ReactComponent instead of "Component2" ?"
I discovered this package recently and have been enjoying it a lot. One thing that I think doesn't make sense to me is the name of the class "Component2". Won't "ReactComponent" be a more descriptive name for it?
Component2 just feels arbitrary

[2021-05-23 22:21] matthewnitschke commented on #254
If anyone else comes across this issue, I have created a library which includes the bindings that @barriehadfield created as well as the built js code to include in the codebase.

Repo can be found here: https://github.com/matthewnitschke/react_router_dart
And its published to pub here: https://pub.dev/packages/react_router

The library includes bindings for both react-dart and over_react

[2021-12-15 03:16] NathanDraco22 opened #330 "This Project is Amazing!!!"
Nice work Guys, you're awasome, !!!

[2022-03-31 19:10] Cory-FanDemand opened #337 "Can we use this in flutter-for-web app?"
Hi,
Can we use this in a flutter-for-web app?   If so an example would be greatly appreciated.
Thanks!

[2022-09-04 03:08] ryanheise opened #346 "Null Safety"
Is this being worked on, or may I submit a pull request?